*{
	box-sizing: border-box;
}
.page {
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	color: #e4e5ea;
	background-color: #0e1014;
	background-image: url('../../images/icons/header-background.png');
	background-position: 53% 0;
	background-repeat: no-repeat;
	padding: 0 15px;
}

.page__content {
	max-width: 1440px;
	min-width: 320px;
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.page__header {
	max-width: 1140px;
	margin: 46px auto 90px;
	box-sizing: border-box;
	width: 100%;
}

.page__section {
	max-width: 1140px;
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
}

.page__footer {
	max-width: 1140px;
	margin: 55px auto 20px;
	box-sizing: border-box;
	width: 100%;
}

.page__link {
	transition: all 0.5s;
}

.page__link:hover {
	opacity: 0.8;
}

@media only screen and (max-width: 320px) {
	.page {
		background-image: none;
		padding: 0;
	}
	
	.page__header {
		margin: 0;
	}

	.page__footer {
		margin: 40px auto 60px;
	}
}
