.promo {
	display: flex;
	justify-content: space-between;
}

.promo__column {
	display: flex;
	flex-direction: column;
}

.promo__column_type_left {
	text-align: left;
}

.promo__column_type_right {
	text-align: right;
	align-items: flex-end;
	position: relative;
}

.promo__title {
	margin: 0 0 34px;
	max-width: 360px;
	font-weight: 400;
	font-size: 48px;
	line-height: 58px;
}

.promo__title-bg {
	position: absolute;
	width: 311px;
	height: 311px;
	left: -102px;
	top: 251px;
	background: #961a1a;
	opacity: 0.5;
	filter: blur(196px);
}

.promo__title-span {
	font-weight: 900;
	font-size: 48px;
	line-height: 58px;
	background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.promo__description {
	margin: 0;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	max-width: 275px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
}

.promo__column-title {
	max-width: 290px;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	margin: 19px 0 40px;
}

.promo__column-title-span {
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.promo__grid {
	display: grid;
	grid-template-columns: repeat(2, 135px);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 30px;
}

.promo__services {
	display: none;
}

.promo__grid-item-title {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin: 0 0 6px;
}

.promo__grid-item-text {
	margin: 0;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.promo__button {
	display: inline-block;
	margin: 60px 0 0;
	padding: 21px 34px;
	border: none;
	background-color: #4077f3;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #e4e5ea;
	cursor: pointer;
	transition: all 0.8s;
}

.promo__button:hover {
	opacity: 0.8;
}

.promo__column-img {
	position: absolute;
	bottom: 0;
	right: 130%;
}

@media only screen and (max-width: 768px) {
	.promo {
		flex-direction: column;
		align-items: center;
	}
}

@media only screen and (max-width: 320px) {
	.promo {
		justify-content: flex-start;
		align-items: flex-start;
		padding: 40px 15px 60px;
		background-image: url('../../images/promo-mobile-bg.png');
		background-repeat: no-repeat;
	}

	.promo__column_type_left {
		margin-bottom: 44px;
	}

	.promo__column_type_right {
		text-align: left;
		align-items: flex-start;
	}

	.promo__title {
		margin: 0 0 16px;
		max-width: 272px;
		font-size: 36px;
		line-height: 44px;
	}

	.promo__title-bg {
		display: none;
	}

	.promo__title-span {
		font-size: 36px;
		line-height: 44px;
	}

	.promo__column-title {
		max-width: 275px;
		margin: 0 0 20px;
	}

	.promo__column-title-span {
		letter-spacing: normal;
		text-transform: lowercase;
	}

	.promo__grid {
		display: none;
	}

	.promo__button {
		display: none;
	}

	.promo__column-img {
		display: none;
	}

	.promo__services {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: max-content;
		gap: 15px 10px;
	}

	.promo__services-desc {
		position: relative;
		font-family: 'Montserrat';
		font-weight: 400;
		font-size: 13px;
		line-height: 16px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		padding-left: 15px;
		margin: 0;
	}
	
	.promo__services-desc::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 10px;
		height: 10px;
		transform: translateY(-50%);
		background-image: url('../../images/icons/line-icon.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}
